# Python
__pycache__/
*.py[cod]
.env
venv/

# Uploads
uploads/*
!uploads/.gitkeep

# Model (too large for GitHub)
model/*.keras
model/*.h5

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml